<div class="page-header position-relative">
    <h1>
        Cliente
        <small>
            <i class="fa fa-angle-double-right"></i>
            Editar un cliente
        </small>
    </h1>
</div><!--/.page-header-->
<% if current_usuario.tipo_usuario != 0 %>
<%= render 'form' %>

<div class = "form-inline pull-right">
	<%= link_to @cliente, :class => "btn btn-info" do %>
		<i class="fa fa-search"></i>
		Ver
	<% end %>
	  
	<%= link_to clientes_path, :class => "btn btn-warning" do %>
		<i class="fa fa-reply"></i>
		Volver
	<% end %>
</div>
<% end %>