<div class="page-header position-relative">
    <h1>
        Pagos
        <small>
            <i class="fa fa-angle-double-right"></i>
            Seleccionar cliente a pagar
        </small>
    </h1>
</div><!--/.page-header-->